
<div id = "menu" class="about-menu">
  <div class = "nav about-nav"><span><a href = "/#/">HOME</a></span></div>
  <div class = "nav about-nav"><span><a href = "/#/gallery">GALLERY</a></span></div>
  <div class = "nav about-nav"><span ng-click="showDiv = !showDiv"><a href = "">CONTACT</a></span></div>
</div>
<div id = "about-wrap">
  <div id = "about-hero">
    <div id = "exp"></div>


    <div id ="bio-wrap">
      <div id = "bio-title">
        <div>Hard Work</div>&nbsp;&nbsp;<div id = "joy" >Joy</div>&nbsp;&nbsp;<div>Expression</div>
      </div>
      <div id = "bio-body">
        Often those who are not artists think that it is easy to produce items, and therefore the value of the item is lessened in their eyes. I am of the belief that when an artist sincerely offers energy, heart and time into an artistic piece that a small part of the artist is also given. Value handmade art!
        <br>
        <br>
        Brooklyn celiac affogato unicorn, freegan salvia la croix live-edge organic marfa pabst locavore migas man bun. Post-ironic disrupt mixtape, unicorn schlitz synth pork belly asymmetrical. Ugh scenester pug tbh cliche. Everyday carry kinfolk pitchfork paleo. Skateboard williamsburg master cleanse forage swag. 8-bit air plant pinterest, sartorial jean shorts lumbersexual meh. Kombucha authentic iceland, sustainable hexagon YOLO portland cold-pressed succulents 90's venmo snackwave bespoke.

        <div id = "signature">- Laura <span>Moffett</span> Myers</div>

      </div>

    </div>
  </div>
  <div id = "pop-tact" ng-show="showDiv">
    <div id = "say-hi">You can find me...</div>
    <div id = "exit" ng-click="showDiv = !showDiv"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div id = "contact-email"><i class="fa fa-envelope-o" aria-hidden="true"><span>moffettcraft@gmail</span></i></div>
    <div id = "contact-media">
      <div>F<span>acebook</span></div>
      <div>E<span>tsy</span></div>
      <div>V<span>ida</span></div>
    </div>
  </div>
</div>
