<div id = "land-wrap">
  <div id = "menu">
    <div class = "nav"><span><a href = "/#/about">ABOUT</a></span></div>
    <div class = "nav"><span><a href = "/#/gallery">GALLERY</a></span></div>
    <div class = "nav"><span ng-click="showDiv = !showDiv"><a href = "">CONTACT</a></span></div>
  </div>
  <div id = "land-hero">
  </div>
  <div id = "pop-tact" ng-show="showDiv">
    <div id = "say-hi">You can find me...</div>
    <div id = "exit" ng-click="showDiv = !showDiv"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div id = "contact-email"><i class="fa fa-envelope-o" aria-hidden="true"><span>moffettcraft@gmail</span></i></div>
    <div id = "contact-media">
      <div>F<span>acebook</span></div>
      <div>E<span>tsy</span></div>
      <div>V<span>ida</span></div>
    </div>
  </div>

</div>
