
// Heavily Refrenced : http://codepen.io/dimitristahos/pen/doPNwr
// Removed menu border. Looks more fluid in comparison to the bare text for title

#wrap {
  width: 100%;
  height: 100%;
  color: $blue;
}

#menu {
  // border: solid $blue;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.5s ease-in-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 20;
}

.menubar {
  width: 80px;
  height: 10px;
  margin: 7px 10px 10px 7px;
  background: $blue;
  border-radius: 3px;
  z-index: 10;
  transition: 0.5s 0.5s ease-in-out, background 0.2s ease-in-out;
}

.menubar:nth-child(1) {
  -webkit-animation: bars 1s;
  animation: bars 1.8s;
}

.menubar:nth-child(2) {
  -webkit-animation: bars 1.5s;
  animation: bars 1.8s;
}

.menubar:nth-child(3) {
  -webkit-animation: bars 2s;
  animation: bars 1.8s;
}

@-webkit-keyframes bars {
  0% {
    width: 0%;
  }
  100% {
    width: 80px;
  }
}

@keyframes bars {
  0% {
    width: 0%;
  }
  100% {
    width: 80px;
  }
}

.activate {
  width: 98%;
  height: 100px;
  background: $blue;
  z-index: 2;
  border: solid $blue 1px !important;
  border-radius: 5px!important;
  // pretty slick animation moving menu to bottom but forces user to scroll to the bottom
  // margin-top: 665px;
}

.hid {
  width: 100px;
  height: 70px;
}

.menuwrap {
  width: 100px;
  height: 70px;
  float: left;
  color: $blue;
}

#menuwrap:hover {
  cursor: pointer;
}

.activate2 {
  margin-top: 10px;
  transition: 0.5s ease-in-out;
  color: $yellow;
}

.hid2 {
  transition: 0.5s ease-in-out;
}

.activate2 .menubar {
  background: $yellow;
  color: $blue;
}

.activate2 .menubar:nth-child(1) {
  transform: rotate(45deg);
  margin-top: 40px;
}

.activate2 .menubar:nth-child(2) {
  transform: rotate(-45deg);
  margin-top: -20px;
}

.activate2 .menubar:nth-child(3) {
  opacity: 0;
}

.hidtext {
  color: $yellow;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  top: 15%;
  // margin-left: -300px;

  .hidtext-dilb {
    display: inline-block;
  }

}

.shotext {
  color: $yellow;
  opacity: 1;
  top: 10px;
  visibility: visible;
  transition: 0.8s 0.5s ease-in-out;

}

#text {
  font-size: 30px;
  font-family: $moffettcraft;
  text-align: center;
  margin-top: -2em;;
  font-weight: bold;
  cursor: pointer;

    div {
      display: inline-block;
      width: 20%;
    }

}

#click {
  color: $blue;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  margin-top: 80px;
  -webkit-animation: move 1.8s 5s;
  animation: move 1.8s 5s;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    margin-left: 20px;
  }
  50% {
    margin-left: -20px;
  }
  70% {
    margin-left: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    margin-left: 20px;
  }
  50% {
    margin-left: -20px;
  }
  70% {
    margin-left: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
div.hidtext-dilb {
  display: inline-block;
  width: 100px;
}
